<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><img src="/assets/images/kevashcraft-logo.png"></li>
          <li>{{ site.title }} &copy;2016</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/kevashcraft" target="_blank">
              <span class="username">KevAshcraft</span>
              <span class="icon icon--github">{% include icon-github.svg %}</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/kevashcraft" target="_blank">
              <span class="username">@KevAshcraft</span>
              <span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/+KevinAshcraft" target="_blank">
              <span class="username">+KevAshcraft</span>
              <span class="icon icon--Gplus">{% include icon-Gplus.svg %}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
